--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
ultralytics
streamlit
pandas
streamlit-image-coordinates
Pillow
gspread
oauth2client
matplotlib
opencv-python-headless
google-api-python-client
