--find-links https://download.pytorch.org/whl/cpu/torch_stable.html
torch==2.2.0+cpu
torchvision==0.17.0+cpu
ultralytics
streamlit
pandas
streamlit-image-coordinates
Pillow
gspread
oauth2client
matplotlib
opencv-python-headless
google-api-python-client
